

<%= form_tag password_resets_path, :method => :post do %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
    <%#= text_field_tag :password_reset_token, params[:password_reset_token] %>
  </div>
  <div class="actions"><%= submit_tag "Reset Password" %></div>
<% end %>

